<div class="text-area form-group d-flex flex-column align-items-start" #scroll [scrollTop]="scroll.scrollHeight">
  <div class="message-box rounded" *ngFor="let message of chat">
    <span>{{message}}</span>
  </div>
</div>
<div class="d-flex">
  <div class="flex-grow-1 align-self-center">
    <input class="input-box form-control" name="chatInput" (keyup.enter)="send()" [(ngModel)]="input"
           placeholder="Type here" type="text"  />
  </div>
  <button class="btn btn-outline-primary ml-3" (click)="send()">Send</button>
</div>
