<h1>Greeting</h1>
<div [hidden]="!authenticated()">
  <p>Welcome back {{getUsername()}}</p>
</div>
<div [hidden]="authenticated()">
  <p>Login to see your greeting</p>
</div>

<div class="container">
  <ul class="nav nav-pills">
    <li><a routerLinkActive="active" routerLink="/chat">Chat</a></li>
    <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
    <li><a (click)="login.logout()">Logout</a></li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
