<h1 class="display-1 text-dark">Play Ground</h1>
<div [hidden]="authenticated()">
  <app-login></app-login>
</div>
<div [hidden]="!authenticated()">
  <div class="container d-flex">
    <div class="mr-auto p-2">
      <h3 class="display-3 text-secondary">Welcome back </h3><h2 class="display-2 text-primary">{{getUsername()}}</h2>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-light" (click)="logout()">Logout</button>>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLinkActive="active" routerLink="/chat">Chat<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
