<div class="login-box d-flex">
  <div class="container align-self-center">
    <div class="align-self-baseline">
      <h5 class="display-5 text-secondary">Please log in</h5>
    </div>
    <div class="alert alert-danger" [hidden]="!error">
      There was a problem logging in. Please try again.
    </div>
    <form role="form" (submit)="loginUser()">
      <div class="form-group w-75">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username"/>
      </div>
      <div class="form-group w-75">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
      </div>
      <div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
